


  <mat-card [class.complated]="task.complated" >
        <mat-checkbox   (change)="showOptions($event)"><span class="compl" *ngIf="task.complated">Сделано</span> </mat-checkbox>
        <!-- (click)="toggle()" checked="{{task.complated? 1:0}}" -->
    <div class="content">
      <h3><span>Тема:</span> {{task.title}}</h3>
      <p><span>Описание:</span> {{task.desc}}</p>
    </div>

    <button mat-icon-button color="warn" (click) = "delete()" >
        <button mat-fab color="warn">Удалить</button>
      </button>
  </mat-card>
